.filter-form {
	padding-top: 20px;
	margin: auto !important;
	width: 90% !important;
}

.explanation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.explanation .type {
	font-size: 0.8em;
	text-align: center;
	min-width: 100px;
	margin: 18px 5px !important;
}

.explanation .type.lecture {
	background-color: #27ae60;
}

.explanation .type.lab {
	background-color: #16a085
}

.explanation .type.seminar {
	background-color: #f1c40f
}

.explanation .type.project {
	background-color: #c0392b
}
