.ui.header.title {
	color: #FFFFFF;
	background-color: #303F9F;
	text-align: center;
	margin-bottom: 0px;
	height: 100px;
}

.ui.three.item.menu {
	margin: 0px;
	background-color: #3F51B5;
	border-radius: 0px;
}

.ui.three.item.menu > .item {
	color: #FFFFFF;
	padding: 10px;
}

.ui.three.item.menu > .item:hover {
	border-bottom: 1px solid #FF5722
}

.ui.three.item.menu > .active {
	border-bottom: 1px solid #FF5722
}

.ui.three.item.menu > .active:hover {
	color: #FFFFFF;
	border-bottom: 1solid #FF5722
}


a {
	color: #FFFFFF;
}
